<div class="main"></div>

<div class="main-ctn">
    <div class="menu-ctn">
        <div class="buttons">
            <div class="button txt-buttom-w pointer">Entrées</div>
            <div class="button txt-buttom-w pointer">Sandwichs</div>
            <div class="button txt-buttom-w pointer">Plats</div>
            <div class="button txt-buttom-w pointer">Desserts</div>
            <div class="button txt-buttom-w pointer">Boissons</div>
        </div>
        
        <app-menu></app-menu>
        
    </div>

    <app-reservation></app-reservation>
    
</div>

<div class="main-bg"></div>