<div class="main"></div>
<div class="ctn">
    <p>
        # Conditions Générales de Vente de la Cantine d'Entreprise Wiro
    </p>
    <br>
    <p>
        ## 1. Introduction
    </p>
    <br>
    <p>
        Bienvenue à la cantine de **Wiro**, où nous sommes fiers de vous proposer une expérience culinaire de qualité au sein de notre entreprise. Chez **Wiro**, nous nous engageons à offrir un service de restauration exceptionnel, adapté aux besoins et préférences de tous nos employés.
    </p>
    <br>
    <p>
        Les présentes **Conditions Générales de Vente (CGV)** sont destinées à régir l'usage de nos services de restauration et de cantine. En utilisant nos services, vous, en tant qu'employé(e) ou visiteur(se) de **Wiro**, acceptez ces conditions et vous engagez à les respecter. Ces CGV visent à assurer une expérience sûre, agréable et équitable pour tous ceux qui fréquentent notre cantine.
    </p>
    <br>
    <p>
        Ces conditions couvrent tous les aspects liés à l'utilisation de notre service de cantine, incluant, mais sans s'y limiter, les modalités de commande et de paiement, les règles d'utilisation des installations de la cantine, ainsi que nos politiques en matière de santé et de sécurité.
    </p>
    <br>
    <p>
        Nous vous invitons à lire attentivement ces conditions avant de profiter de nos services. Votre satisfaction est notre priorité, et nous sommes toujours à l'écoute pour répondre à vos besoins et préoccupations.
    </p>
    <br>
    <p>
        ## 2. Description des Services
    </p>
    <br>
    <p>
        La cantine de l'entreprise Wiro, située au 5ème étage du bâtiment, est fière de proposer une gamme variée de choix culinaires répondant à divers besoins et préférences alimentaires. Nous offrons à nos clients :
    </p>
    <br>
    <p>
        - **Cuisine Traditionnelle Française** : Une sélection de plats classiques français, préparés avec des ingrédients de haute qualité pour offrir une expérience gastronomique authentique.
        - **Options Végétariennes** : Une variété de plats végétariens savoureux, conçus pour offrir une alimentation équilibrée et délicieuse.
        - **Choix Sans Gluten** : Des options sans gluten sont disponibles pour ceux qui ont des besoins alimentaires spécifiques ou des préférences personnelles.
    </p>
    <br>
    <p>
        **Horaires d'Ouverture** : Notre cantine est ouverte tous les jours ouvrables de 12h00 à 14h00, offrant un cadre idéal pour une pause déjeuner relaxante et satisfaisante.
    </p>
    <br>
    <p>
        **Réservation des Repas** : Nous facilitons la planification de vos repas avec notre système de réservation en ligne. Grâce à notre site intranet dédié, les employés peuvent réserver leur repas jusqu'à une semaine à l'avance. Ce système garantit non seulement votre choix de plat, mais aide également notre équipe à mieux préparer et gérer l'offre de repas, réduisant ainsi les déchets et améliorant l'efficacité du service.
    </p>
    <br>
    <p>
        Chez Wiro, nous nous engageons à fournir un service de restauration de qualité, en mettant l'accent sur la fraîcheur, le goût et la satisfaction du client. Nous vous invitons à découvrir et à profiter de nos délicieuses offres culinaires.
    </p>
    <br>
    <p>
        ## 3. Modalités de Commande et de Paiement
    </p>
    <br>
    <p>
        À la cantine de l'entreprise Wiro, nous offrons à nos clients flexibilité et commodité dans la commande et le paiement de leurs repas.
    </p>
    <br>
    <p>
        **Réservation en Ligne** :
        - Les employés peuvent réserver leur repas en avance via notre site internet dédié jusqu'à 11h30 pour le déjeuner le jour même.
        - Cette option garantit la disponibilité de votre choix de repas et contribue à une meilleure planification des services de la cantine.
    </p>
    <br>
    <p>
        **Commande sur Place** :
        - En fonction des disponibilités, les employés ont également la possibilité de choisir leur repas directement sur place, offrant une flexibilité pour ceux qui n'ont pas réservé à l'avance.
    </p>
    <br>
    <p>
        **Options de Paiement** :
        - **En ligne** : Le paiement peut être effectué par carte bancaire lors de la réservation sur le site internet.
        - **Sur place** : Pour les repas choisis sur place, les paiements peuvent être effectués par carte bancaire ou en espèces.
    </p>
    <br>
    <p>
        **Politique d'Annulation et de Remboursement** :
        - Les annulations de repas réservés sont possibles. Si une réservation est annulée avant 11h30 le jour du repas, le montant payé sera crédité sur le compte de l'employé sur le site intranet. Ce crédit pourra être utilisé pour de futures commandes.
        - Nous encourageons les employés à annuler à temps pour permettre une meilleure gestion des stocks et réduire le gaspillage alimentaire.
    </p>
    <br>
    <p>
        Chez Wiro, notre objectif est de rendre l'expérience de restauration aussi simple et agréable que possible, tout en assurant un service efficace et responsable. Nous sommes dédiés à répondre aux besoins de nos employés avec ces options flexibles de commande et de paiement.
    </p>
    <br>
    <p>
        ## 4. Prix
    </p>
    <br>
    <p>
        À la cantine de l'entreprise Wiro, nous nous engageons à offrir des repas et des boissons de qualité à des prix justes et transparents. Voici notre politique de tarification :
    </p>
    <br>
    <p>
        **Taxation sur les Produits Alimentaires et Boissons** :
        - Les prix de nos repas préparés incluent une TVA de 10% conformément à la législation fiscale française.
        - Pour les boissons, une TVA de 5.5% est appliquée, en accord avec les réglementations fiscales en vigueur.
    </p>
    <br>
    <p>
        **Liste des Prix** :
        - Nos menus et la liste des boissons sont susceptibles d'évoluer pour refléter les changements saisonniers et les préférences de nos clients.
        - Les prix actuels de tous les articles sont clairement affichés sur notre site intranet et à la cantine.
        - Nous nous efforçons de maintenir une structure de prix stable, tout en garantissant la qualité et la fraîcheur de nos produits.
    </p>
    <br>
    <p>
        **Transparence** :
        - Tous les prix affichés comprennent les taxes applicables, garantissant ainsi une totale transparence pour nos clients.
        - Aucun frais caché n'est appliqué ; le prix que vous voyez est le prix que vous payez.
    </p>
    <br>
    <p>
        Chez Wiro, nous croyons en une politique de prix équitable et transparente, permettant à nos employés de profiter de repas et de boissons de qualité à des coûts raisonnables. Nous nous engageons à fournir des informations claires sur nos prix, pour que vous puissiez prendre des décisions informées concernant vos choix alimentaires.
    </p>
    <br>
    <p>
        ## 5. Règles d'Utilisation de la Cantine
    </p>
    <br>
    <p>
        La cantine de l'entreprise Wiro est un espace où convivialité et professionnalisme se rencontrent. Afin de garantir une expérience agréable et sûre pour tous, nous avons établi les règles suivantes :
    </p>
    <br>
    <p>
        **Attitude et Comportement** :
        - Une attitude sérieuse mais cordiale est attendue de la part de tous les employés et du personnel utilisant la cantine. Nous valorisons le respect mutuel, la courtoisie et le professionnalisme dans nos interactions.
        - Le respect de l'environnement de la cantine et des autres utilisateurs est primordial. Nous encourageons un comportement responsable, y compris le nettoyage de votre espace après le repas.
    </p>
    <br>
    <p>
        **Information sur les Allergènes** :
        - La santé et la sécurité de nos employés sont notre priorité. Pour aider ceux qui ont des allergies alimentaires, tous nos repas sont clairement étiquetés avec des icônes en forme de point d'exclamation pour indiquer la présence de potentiels allergènes.
        - Nous demandons aux employés ayant des allergies ou des intolérances alimentaires spécifiques de faire preuve de vigilance et de consulter ces informations avant de choisir leurs repas.
    </p>
    <br>
    <p>
        **Usage des Installations** :
        - Les installations de la cantine sont à votre disposition durant les heures d'ouverture. Nous vous prions de respecter ces horaires pour permettre à notre équipe de préparer et de maintenir un service de qualité.
        - Tout dommage causé aux équipements ou aux installations de la cantine doit être immédiatement signalé au personnel de la cantine ou à la direction.
    </p>
    <br>
    <p>
        Chez Wiro, nous nous engageons à offrir un environnement de restauration de qualité, et nous comptons sur la coopération de chacun pour maintenir un espace accueillant et sécuritaire. Votre adhésion à ces règles contribue à faire de notre cantine un lieu agréable pour tous.
    </p>
    <br>
    <p>
        ## 6. Responsabilité
    </p>
    <br>
    <p>
        À la cantine de l'entreprise Wiro, nous prenons notre responsabilité très au sérieux, en particulier en ce qui concerne la santé et le bien-être de nos employés.
    </p>
    <br>
    <p>
        **Information sur les Repas** :
        - L'entreprise s'engage à fournir des informations complètes et précises sur la composition des repas servis à la cantine. Cela inclut l'identification des allergènes potentiels, la présence de certains ingrédients spécifiques et les informations nutritionnelles lorsque cela est possible.
        - Nous nous efforçons de garantir que toutes les informations fournies sont à jour et fiables pour aider nos employés à faire des choix alimentaires éclairés et sûrs.
    </p>
    <br>
    <p>
        **Limitation de Responsabilité** :
        - Bien que nous prenions toutes les mesures nécessaires pour informer nos employés des contenus de nos repas, la responsabilité de choisir un repas adapté à des conditions diététiques ou des allergies spécifiques incombe en fin de compte à l'individu.
        - L'entreprise ne peut être tenue responsable des dommages indirects résultant de la consommation de repas, y compris, mais sans s'y limiter, les réactions allergiques, sauf en cas de négligence ou de manquement démontré de notre part dans la fourniture des informations sur les repas.
    </p>
    <br>
    <p>
        **Engagement de l'Entreprise** :
        - Wiro s'engage à maintenir les standards les plus élevés en matière de qualité alimentaire et de sécurité. Nous collaborons étroitement avec nos fournisseurs et notre personnel de cuisine pour assurer la conformité avec toutes les réglementations sanitaires et alimentaires pertinentes.
        - En cas de préoccupations ou de questions concernant la composition des repas, nous encourageons les employés à contacter notre équipe de cantine pour obtenir des éclaircissements ou des informations supplémentaires.
    </p>
    <br>
    <p>
        Nous prenons ces responsabilités très au sérieux et nous sommes dédiés à assurer la sécurité et la satisfaction de tous ceux qui utilisent notre service de cantine. Votre santé et votre bien-être sont au cœur de nos préoccupations quotidiennes.
    </p>
    <br>
    <p>
        ## 7. Données Personnelles
    </p>
    <br>
    <p>
        L'entreprise Wiro accorde une grande importance à la confidentialité et à la protection des données personnelles de ses employés, en conformité avec le Règlement Général sur la Protection des Données (RGPD).
    </p>
    <br>
    <p>
        **Collecte des Données** :
        - La collecte de données personnelles dans le cadre de l'utilisation de la cantine est maintenue au strict minimum nécessaire pour fournir le service. Cela peut inclure des informations nécessaires pour la réservation des repas et le traitement des paiements.
        - Nous ne recueillons aucune donnée personnelle sans le consentement explicite de l'employé, et ces données sont utilisées exclusivement dans le but pour lequel elles ont été collectées.
    </p>
    <br>
    <p>
        **Anonymisation des Factures** :
        - Une fois le règlement effectué, toutes les informations personnelles associées à la transaction sont anonymisées. Cela garantit que les données financières et personnelles des employés ne peuvent être reliées à une personne spécifique après le paiement.
        - Cette pratique renforce la confidentialité et la sécurité des informations personnelles de nos employés, tout en permettant à l'entreprise de maintenir des registres précis pour des fins comptables et administratives.
    </p>
    <br>
    <p>
        **Sécurité des Données** :
        - Wiro s'engage à protéger les données personnelles contre tout accès non autorisé, altération, divulgation ou destruction. Nous mettons en œuvre des mesures de sécurité techniques et organisationnelles appropriées pour assurer la sécurité de vos données.
        - L'accès aux données personnelles est strictement limité aux employés et aux tiers autorisés qui ont besoin de connaître ces informations pour fournir nos services de cantine.
    </p>
    <br>
    <p>
        **Droits des Employés** :
        - Conformément au RGPD, les employés ont le droit d'accéder à leurs données personnelles, de les rectifier, de demander leur suppression ou de limiter leur traitement.
        - Les employés peuvent exercer ces droits en contactant notre responsable de la protection des données à [adresse email/numéro de téléphone].
    </p>
    <br>
    <p>
        Chez Wiro, nous sommes déterminés à respecter la vie privée de nos employés et à traiter toutes les données personnelles avec le plus haut degré de confidentialité et de sécurité.
    </p>
    <br>
    <p>
        ## 8. Modification des CGV
    </p>
    <br>
    <p>
        L'entreprise Wiro se réserve le droit de modifier les présentes Conditions Générales de Vente (CGV) à tout moment.
    </p>
    <br>
    <p>
        - **Notification des Modifications** : Tout changement apporté aux CGV sera communiqué de manière appropriée, soit par une notification sur le site intranet de la cantine, soit par email à tous les employés.
        - **Validité des Modifications** : Les modifications entrent en vigueur dès leur publication. L'utilisation continue des services de la cantine après ces modifications implique l'acceptation des nouvelles conditions par les utilisateurs.
        - **Historique des Modifications** : Un historique des versions précédentes des CGV sera maintenu et accessible pour consultation par les employés.
    </p>
    <br>
    <p>
        Il est de la responsabilité de chaque employé de se tenir informé des dernières CGV en vigueur.
    </p>
    <br>
    <p>
        ## 9. Droit Applicable et Règlement des Litiges
    </p>
    <br>
    <p>
        - **Droit Applicable** : Les présentes CGV sont régies et interprétées conformément aux lois françaises.
        - **Règlement des Litiges** : En cas de litige découlant de ou lié à l'utilisation des services de la cantine de Wiro, les parties s'efforceront de résoudre le conflit de manière amiable.
        - **Juridiction Compétente** : Si une résolution à l'amiable n'est pas possible, le litige sera soumis à la juridiction compétente selon le lieu de l'entreprise Wiro.
        - **Médiation** : Avant de porter le litige devant les tribunaux, les parties peuvent choisir de recourir à une médiation, conformément aux procédures de médiation en vigueur en France.
    </p>
    <br>
    <p>
        Ces dispositions visent à garantir une résolution équitable et efficace de tout différend pouvant survenir dans le cadre de l'utilisation des services de la cantine.
    </p>
    <br>
    <p>
        ## 10. Contact
    </p>
    <br>
    <p>
        Pour toute question ou demande d'information concernant les services de la cantine, les présentes Conditions Générales de Vente ou tout autre sujet relatif à votre expérience à la cantine de l'entreprise Wiro, n'hésitez pas à nous contacter. Nous sommes ici pour vous aider et vous fournir toutes les informations nécessaires.
    </p>
    <br>
    <p>
        **Contact par Email** :
        - Pour une communication rapide et pratique, vous pouvez utiliser le formulaire de contact :  Notre équipe s'efforcera de répondre à votre demande dans les plus brefs délais.
    </p>
    <br>
    <p>
        **Contact en Personne** :
        - Si vous préférez un contact en personne ou si votre demande nécessite une discussion plus approfondie, vous êtes les bienvenus à l'accueil de l'entreprise. Notre personnel d'accueil se fera un plaisir de vous assister ou de vous orienter vers la personne appropriée pour répondre à vos besoins.
    </p>
    <br>
    <p>
        Chez Wiro, votre satisfaction est notre priorité. Nous nous engageons à offrir une assistance complète et à être à l'écoute de vos préoccupations ou suggestions pour améliorer continuellement nos services.
    </p>
    </div>
<div class="main-bg"></div>