<div class="main"></div>
<div class="ctn">
    <p>
        # Conditions Générales d'Utilisation (CGU) et Politique de Confidentialité de la Cantine d'Entreprise Wiro
    </p>
    <br>
    <p>
        ## Introduction
        Bienvenue à la cantine de Wiro. En utilisant notre service de cantine, vous acceptez ces Conditions Générales d'Utilisation, qui visent à garantir une expérience de qualité pour tous nos utilisateurs.
    </p>
    <br>
    <p>
        ## Description des Services
        La cantine de Wiro offre une cuisine traditionnelle française, ainsi que des options végétariennes et sans gluten. Nous sommes ouverts tous les jours ouvrables de 12h à 14h. Notre système de réservation en ligne vous permet de réserver vos repas jusqu'à une semaine à l'avance.
    </p>
    <br>
    <p>
        ## Modalités de Commande et de Paiement
        Vous pouvez réserver vos repas en ligne ou choisir sur place en fonction des disponibilités. Les réservations en ligne sont possibles jusqu'à 11h30 le jour du repas. Les paiements peuvent être effectués par carte bancaire en ligne, et par carte bancaire ou en espèces sur place. Les annulations donnent lieu à un remboursement sous forme de crédit pour de futures commandes.
    </p>
    <br>
    <p>
        ## Prix
        Nos prix incluent une TVA de 10% sur les repas et de 5.5% sur les boissons. La liste des repas et des boissons est sujette à évoluer, avec un engagement à la transparence des prix.
    </p>
    <br>
    <p>
        ## Règles d'Utilisation de la Cantine
        Une attitude sérieuse mais cordiale est attendue. Les repas indiquent la présence d'allergènes potentiels. Il est important de respecter les installations et le personnel de la cantine.
    </p>
    <br>
    <p>
        ## Responsabilité
        Wiro s'engage à informer au mieux ses employés sur la composition des repas pour éviter les dommages indirects. Toutefois, l'entreprise ne peut être tenue responsable des réactions allergiques ou autres problèmes de santé résultant d'une négligence de la part de l'employé à vérifier ces informations.
    </p>
    <br>
    <p>
        ## Données Personnelles
        La collecte des données est minimale et conforme au RGPD. Les factures sont anonymisées après règlement pour protéger vos informations personnelles.
    </p>
    <br>
    <p>
        ## Modification des CGU
        Wiro se réserve le droit de modifier ces CGU à tout moment, avec une notification appropriée à tous les utilisateurs.
    </p>
    <br>
    <p>
        ## Droit Applicable et Règlement des Litiges
        Ces CGU sont régies par les lois françaises. Tout litige sera d'abord soumis à une tentative de règlement à l'amiable, puis, si nécessaire, à la juridiction compétente.
    </p>
    <br>
    <p>
        ## Contact
        Pour toute question, veuillez nous contacter via le formulaire de contact ou à l'accueil de l'entreprise.
    </p>
</div>
<div class="main-bg"></div>